{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">

    <div class="card">

      <h1 class="center">Change Password</h1>

      <form name="changepassword_form"  action="{{ url_for('update') }}" method="POST">

        

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="oldpassword">Old Password</label>
        <input type="password" name="oldpassword" class="field" required>

        <label for="newpassword">Password</label>
        <input type="password" name="newpassword" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="changepassword" class="btn">

        
      
      </form>
      
    </div>
</div>
{% endblock %}